.comentario-adocao {
    width: 300px;
    align-self: center;
    justify-self: end;
}

.comentario-adocao blockquote div {
    text-align: center;
}

.comentario-adocao blockquote div img {
    margin-bottom: 12px;
}

.comentario-adocao blockquote p {
    margin-top: 16px;
    object-fit: cover;
    text-align: center;
    padding: 0 20px;
}