.header {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#header-menu li a {
    padding: 16px 0;
    display: inline-block;
    position: relative;
}

#header-menu a::after {
    content: "";
    display: block;
    margin-top: 4px;
    width: 0;
    height: 2px;
    background-color: var(--cor-1);
    transition: 0.3s;
}

#header-menu a:hover::after {
    width: 100%;
    position: absolute;
}


/* marcador.  */

#header-menu li a:hover::after,
#header-menu a.ativo::after {
    width: 100%;
    position: absolute;
}

#btn-mobile {
    display: none;
}

@media (max-width: 800px) {
    .header {
        gap: 20px;
    }
    #header-menu {
        gap: 16px;
    }
    #header-menu li a:after {
        display: none;
    }
    #header-menu li a {
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #d6d8e0;
    }
    #header-menu li a:hover {
        background: linear-gradient(#d6d8e0, #d0d1d4);
    }
}


/* -----------------------------Menu-mobile: */

@media (max-width: 750px) {
    #header-menu li a {
        background: none;
    }
    #header-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        left: 0;
        height: 0;
        transition: 0.6s;
        background-color: #fff;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #header-menu {
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #header-menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 16px;
    }
    #header-menu a:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburger {
        display: block;
        border-top: 2px solid var(--cor-8);
        gap: 0.5rem;
        width: 20px;
    }
    #hamburger::before,
    #hamburger::after {
        content: " ";
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        /* variavel da cor pai. */
        background-color: var(--cor-8);
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}